body{
    
    height: 100vh;
    background: rgb(182, 212, 212);

    background-position: center;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('../images/home.jpg');
        
    }
